<body>
    <style>
        img {
            width: 500px;
        }
    </style>
    <%- include("navbar") -%>
    <div class="main_row">
        <% for(let i = 0; i < manga[0].PAGE_QUANTITY; i++) { %> <% let path = "https://res.cloudinary.com/picturesapplecustard/image/upload/v1586026604/" + manga[0].MANGA_NAME + "/view/" + (i + 1) + ".jpg" %>
        <div class="elemant">
            <div>
                <img src="<%= path %>" alt="" /> <br />
                <%=manga[0].MANGA_NAME %>
            </div>
        </div>
        <% } %>
    </div>
</body>
