* {
    margin: 0;
    padding: 0;
    font-size: 2vmin;
    align-self: baseline;
    text-shadow: 0 0 2px #e19a86, 0 0 1.5px #854535, 0 0 1.5px #5c150c;
    font-family: serif;
}

body {
    background-color: black;
}

.logo {
    padding: 12px;
    padding-top: 5px;
    padding-bottom: 6px;
    position: relative;
    top: -13px;
    align-self: baseline;
    font-family: serif;
    border: 1px solid rgba(161, 161, 161, 0.6);
    letter-spacing: -0.06em;
}

.navbar {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid rgba(161, 161, 161, 0.6);
    background-color: black;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.nerv {
    font-size: 25px;
    overflow: hidden;
    align-self: baseline;
    font-family: serif;
    line-height: 1.2em;
    letter-spacing: -0.03em;
    width: 140px;
    text-shadow: 0 0 2px #e19a86, 0 0 1.5px #ffffff, 0 0 1.5px #5c150c;
    border: 1px solid rgba(255, 255, 255, 0.6);
    position: relative;
    padding: 4px;
    padding-bottom: 5px;
    float: right;
}
.nerv:hover,
.profile input:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255);
    color: black;
}
.main_menu {
    background-color: rosybrown;
    width: 30%;
    height: 50px;
    float: right;
}

.hidden_menu {
    transition: 0.2s;
    position: fixed;
    opacity: 0;
    z-index: -1;
    left: -50px;
    right: 0;
    top: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    width: 230px; /* Needa specific value to work */
    background-color: rgb(0, 0, 0);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.dark_background {
    top: 0;
    width: 100%;
    position: fixed;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
    opacity: 0;
}

.profile {
    width: 20%;
    float: right;
    display: flex;
    height: 40px;
    position: relative;
    right: -103px;
}

.profile input {
    font-size: 25px;
    overflow: hidden;
    align-self: baseline;
    font-family: serif;
    line-height: 1.2em;
    letter-spacing: -0.03em;
    position: relative;
    right: 0;
    top: 0px;
    width: 140px;
    text-shadow: 0 0 2px #e19a86, 0 0 1.5px #ffffff, 0 0 1.5px #5c150c;
    border: 1px solid rgba(255, 255, 255, 0.6);
    float: right;
    padding: 4px;
    width: auto;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(3, 3, 3, 0.3);
    color: white;
    text-transform: lowercase;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

@media only screen and (max-width: 1000px) {
    .navbar .nerv,
    .logo {
        width: auto;
    }
}
