@keyframes ripple {
    to {
        transform: scale(1.45);
        opacity: 0;
    }
}

.ripple-btn {
    outline: 0;
    cursor: pointer;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.7);
    overflow: hidden;
}

.ripple-btn:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(17, 10, 10);
}
.ripple-btn .ripple {
    border-radius: 100%;
    border: 5px solid rgb(66, 54, 134);
    position: absolute;
    transform: scale(0);
    background-color: rgb(255, 255, 255, 0.3);
    animation: ripple 0.3s linear;
}
